{% extends 'base.html.twig' %}

{% block title %}Quack Feed{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Quack Feed</h1>

    <div class="container">
    {% for quack in quacks %}
        <div class="quack">
            <p>{{ quack.content }}</p>

            {% if quack.tags %}
            <p>
                {% for tag in tags %}
                {{ "#" . tag . " " }}
                {% endif %}
            </p>
            {% endif %}

            {% if quack.photo %}
                <img src="{{ quack.photo }}">
            {% endif %}

            <p>{{ quack.author }}</p>
            <p>{{ quack.createdAt }}</p>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
