{% extends 'base.html.twig' %}

{% block title %}Quack Feed{% endblock %}

{% block body %}

    <div>
        <h1>Quacknet</h1>


        {% if form is defined %}
        {{ form(form) }}
        {% endif %}

        <div class="container">
            {% for quack in quacks %}
                <div class="quack">
                    <p>{{ quack.content }}</p>

                    {% if quack.tags %}
                        <p>
                            {% for tag in quack.tags %}
                                {{ '#' + tag + ' ' }}
                            {% endfor %}
                        </p>
                    {% endif %}

                    {% if quack.photo %}
                        <img src="{{ quack.photo }}">
                    {% endif %}

                    <p>{{ quack.author }}</p>
                    <p>{{ quack.createdAt|format_datetime() }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
